*.log
*.png
CIFAR10RawData
__pycache__
.ipynb_checkpoints
*.json
*.bin
*.pth
*.txt
STL10Data
!loss/perceptual_similarity/weights/v0.1/vgg.pth
!loss/perceptual_similarity/weights/v0.1/squeeze.pth
!loss/perceptual_similarity/weights/v0.1/alex.pth